<style>
    footer {
        background-color: #222222;
        margin: 2rem 0 1rem 0;
        padding: 0.5rem 0;
    }

    footer p {
        color: white;
        font-size: 14px;
        text-align: center;
    }
</style>
<footer>
    <div class="container">
        <p>Blogify &copy;, 2020 Designed by Seun</p>
    </div>
</footer>