<main>
    <div class="background"></div>
    <div class="delete-modal">
        <p>Are you sure want to delete</p>

        <form action="#" method="POST">
            <button type="submit">YES</button>
            <a href="#">No</a>

        </form>
    </div>
</main>